@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?xahf3z');
    src: url('fonts/icomoon.eot?xahf3z#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?xahf3z') format('truetype'), url('fonts/icomoon.woff?xahf3z') format('woff'), url('fonts/icomoon.svg?xahf3z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-enter:before {
    content: "\e900";
}

.icon-at:before {
    content: "\e901";
}

.icon-backspace:before {
    content: "\e902";
}

.icon-backspace-fill:before {
    content: "\e903";
}

.icon-capslock:before {
    content: "\e904";
}

.icon-capslock-fill:before {
    content: "\e905";
}

.icon-emoji:before {
    content: "\e906";
}

.icon-palette:before {
    content: "\e908";
}

.icon-return:before {
    content: "\e909";
}

.icon-shift:before {
    content: "\e90a";
}

.icon-shift-fill:before {
    content: "\e90b";
}

.icon-hashtag-solid:before {
    content: "\e907";
}

body {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.fime-box {
    padding: 0;
    margin: 0;
}

.fime-action-bar {
    background: #d5d7dd;
    height: 58px;
    overflow-y: hidden;
    user-select: none;
    touch-action: none;
}

.fime-composition {
    height: 16px;
    padding-top: 8px;
    padding-left: 8px;
    font-size: smaller;
}

.fime-candidates-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #b5b5b5;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.fime-candidates {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
}

.fime-candidates-box .item {
    min-width: 16px;
    margin: 0 4px;
    padding: 6px;
    text-align: center;
    overflow: scroll;
    white-space: nowrap;
}

.fime-kbd-box {
    min-height: 16px;
    background: #d5d7dd;
    user-select: none;
    touch-action: none;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}

.fime-key-row {
    display: flex;
    padding: 0 4px;
    margin-bottom: 5px;
    height: 44px;
    /* flex-grow: 1; */
}

.fime-key-col {
    display: flex;
    min-width: 10vw;
    flex-direction: column;
}

.fime-key {
    background: #fafafa;
    width: 100%;
    border-radius: 5px;
    margin: 0 2px;
    position: relative;
    flex-grow: 1;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.4);
}

.fime-key * {
    user-select: none;
}

.fime-key-active,
.fime-key:active {
    background: #efefef;
    box-shadow: none;
}

.fime-fnkey {
    background: #b5bdc6;
}

.fime-symbol {
    position: absolute;
    color: #b5b5b5;
    top: 2px;
    right: 4px;
    font-size: 9pt;
}

.fime-label {
    display: block;
    color: #161616;
    text-align: center;
    font-size: 18pt;
    height: 100%;
    line-height: 44px;
    padding: 2px 0;
    left: 0;
    right: 0;
    bottom: 0;
}